

.banner_image {
  position: relative;
  height:100vh;
  object-fit: cover;
  width: 100%;
}

h1.banner_heading {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding: 40px;
  background: #0000006e;
  top: 50vh;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  h1.banner_heading {
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    top: 0vh;
    }
}